
.Tile {
  position: absolute;
  text-align: center;
  font-size:8em;
  color:#000;
    outline: 1px solid transparent;

  left:0;
  top:0;

  background: #FFFFFF;
    -webkit-box-shadow: inset 0 0 3px 3px white;
    -moz-box-shadow: inset 0 0 3px 3px white;
    box-shadow: inset 0 0 3px 3px white;


}

.TileTxt {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    opacity:0;

}


.Grid {

  position:relative;
  transform-origin: 0 0;
  display:inline-block;
  background-color: white;
    float:bottom;

}

.bg-image {
  visibility:hidden;
}


.grid-container {

  background-color: aliceblue;
  position:relative;
  float:right;
    overflow:hidden;

}


.game-container{

    position:relative;
  background-color:black;
  max-width:1024px;
  margin:0 auto;
    height:50%;
    /*overflow:hidden;*/


}

.game-area {
  background-color: whitesmoke;
  height:100vh;
  width:100vw;

}

.nav {

  background-color: #2f3441;
  position:relative;
    float:left;

}

.nav button {

    position:relative;
    text-overflow:ellipsis;
  background:transparent;
  font-size:3vw;
  text-align:center;
  outline:none;
    border:none;
    color: #19a4ad;


}

